Django>=4.2,<5.0
djangorestframework>=3.14
psycopg2-binary>=2.9
django-environ>=0.11
django-tailwind>=3.8
Pillow>=10.0
whitenoise>=6.0
gunicorn>=21.2
dj-database-url>=2.1
pytest-cov>=4.1
factory-boy>=3.3