Django==4.2.18
djangorestframework>=3.14
psycopg2-binary>=2.9
django-environ>=0.11
django-tailwind>=3.8
Pillow>=10.0
whitenoise>=6.0
gunicorn>=21.2
dj-database-url>=2.1
pytest-cov>=4.1
factory-boy>=3.3
django-lucide>=0.3
cloudinary>=1.41
django-cloudinary-storage>=0.3
beautifulsoup4>=4.15.0
openpyxl>=3.1.5
channels>=4.0.0
channels-redis>=4.0.0
django-ratelimit>=4.0.0
daphne>=4.0.0 
django-redis>=5.0.0